@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
.ff_sans {
  font-family: "Josefin Sans", sans-serif;
}
.ff_display {
  font-family: "Playfair Display", serif;
}
/* root */
:root {
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 36px;
  --fs-5xl: 50px;
  --fs-6xl: 64px;
  /* color */
  --color-grayD9: #d9d9d9;
  --color-black0F: #0f0f10;
}
/* font classes */
.fs_xs {
  font-size: var(--fs-xs);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_6xl {
  font-size: var(--fs-6xl);
}
/* bg color */
.bg_grayD9 {
  background-color: var(--color-grayD9);
}
/* color */
.color_black0F {
  color: var(--color-black0F);
}
