/* header */
.nav_logo {
  height: 90px;
  width: 90px;
}
.py_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gap_29 {
  gap: 29px;
}
.me_60 {
  margin-right: 60px;
}
.nav_search_icon {
  min-width: 16px;
  height: 16px;
}
.nav_input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.opacity_06 {
  opacity: 0.6;
}
.nav_search {
  border: 1px solid #b3b3b3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 11px;
  padding-left: 11px;
}
.hoverLineAlign:hover::after {
  width: 100%;
  left: 0;
}
.hoverLineAlign::after {
  content: "";
  position: absolute;
  height: 2px;
  opacity: 0.6;
  width: 0;
  background-color: black;
  bottom: -4px;
  left: 50%;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}
.nav_btn {
  padding-top: 9.98px;
  padding-bottom: 9.88px;
  padding-right: 26px;
  padding-left: 26px;
}
/* hero section */
/* responsive class */
@media (min-width: 991.98px) {
  .me_lg_60 {
    margin-right: 60px;
  }
}
@media (max-width: 991px) {
  .btn {
    display: block;
  }
  .nav-fix {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    transition: linear 500ms;
    min-height: 100%;
    background-color: white;
    z-index: 999 !important;
  }
  .nav-fix div {
    flex-direction: column;
    gap: 20px;
  }
  .show-nav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .show-nav div {
    flex-direction: column;
    gap: 20px !important;
  }
  .crossIconset {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
